.nav{
    overflow: hidden;
}


.nav a{
    float:left;
    display:block;
    text-align:center;
    padding: 14px 16px;

}

ul{
    background:white;
}
 h3{
     font-family: 'Swis721 Cn BT';
 }